# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Sensitive Data
.env

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
lib/
wheels/

# Logs and cache
*.log
.cache/
.pytest_cache/
htmlcov/

# IDE-specific files
.idea/
.vscode/

# Editor swap files
*.swp

# MyPy cache
.mypy_cache/

# Pip-related
pip-wheel-metadata/
pip-log.txt

# Jupyter/IPython notebooks
.ipynb_checkpoints

reference
GEMINI.md 
ipf.pdf
.DS_Store

/bulk_test_results
/false_positives.json
/false_negatives.json
/true_positives.json
/true_negatives.json
/inconclusive.json
/testData.json